{% extends 'Index.html' %}

{% block banner %}
  <section id="banner">
    <div class="content">
      <header>
        <h2>Admin Panel</h2>
      </header>
      <span class="image"><img src="/images/logo.jpg" alt="" /></span>
    </div>
  </section>
{% endblock %}

{% block panel %}
  <div id="main" class="wrapper style1">
    <div class="container">
      <header class="major">
        <h2>Admin functions:</h2>
      </header>
      <section id="content">
        <table>
          <tr>
            <th>Article manipulations:</th>
            <td><a href="/moderator/articles" class="button special" style="float:right;">Go</a></td>
          </tr>
          <tr>
            <th>Item manipulations:</th>
            <td><a href="/moderator/items" class="button special" style="float:right;">Go</a></td>
          </tr>
        </table>
      </section>
    </div>
  </div>
{% endblock %}