{% extends 'Default.html' %}

{% block title %}
    {{ article.title }}
{% endblock %}

{% block article %}
    <div id="main" class="wrapper style1">
        <div class="container">
            <header class="major">
                <img src="images/{{ article.pictureName }}" alt="{{ article.title }}" />
                <h2>{{ article.title }}</h2>
                <p>{{ article.description }}</p>
            </header>
            <section id="content">
                <p>{{ article.lead }}</p>
                <p>{{ article.article }}</p>
            </section>
        </div>
    </div>
{% endblock %}