{% extends 'Default.html' %}

{% block title %}
    {{ article.title }}
{% endblock %}

{% block banner %}
    <section id="banner">
        <div class="content">
            <header>
                <h2>{{ article.title }}</h2>
            </header>
            <span class="image"><img src="images/logo.jpg" alt="" /></span>
        </div>
    </section>
{% endblock %}

{% block article %}
    <div id="main" class="wrapper style1">
        <div class="container">
            <header class="major">
                <h2>{{ article.title }}</h2>
                <p>{{ article.description }}</p>
            </header>
            <section id="content">
                {% if article.pictureName != 'NULL' %}
                    <img src="../images/news/{{ article.pictureName }}" alt="{{ article.title }}" width="1400" />
                {% endif %}
                <p>{{ article.lead }}</p>
                <p>{{ article.article }}</p>
            </section>
        </div>
    </div>
{% endblock %}