{% extends 'Index.html' %}

{% block title %}
    Новости
{% endblock %}

{% block banner %}
    <section id="banner">
        <div class="content">
            <header>
                <h2></h2>
                <p> <br>
                </p>
            </header>
            <span class="image"><img src="images/logo.jpg" alt="" /></span>
        </div>
    </section>
{% endblock %}

{% block news %}
    {% for article in articles %}
        <section id="two" class="spotlight {% if article.style == true %} style2 right {% else %} style3 left {% endif %}">
            <span class="image fit main"><img src="/images/{{ article.pictureName }}" alt="" /></span>
            <div class="content">
                <header>
                    <h2>{{ article.title }}</h2>
                    <p>{{ article.lead }}</p>
                </header>
                <p></p>
                <ul class="actions">
                    <li><a href="/news/article?id={{ article.getPK() }}" class="button">Узнать больше</a></li>
                </ul>
            </div>
        </section>
        {% endfor %}
{% endblock %}