{% extends 'Index.html' %}

{% block banner %}
    <section id="banner">
        <div class="content">
            <header>
                <h2>Contact us</h2>
            </header>
            <span class="image"><img src="images/logo.jpg" alt="" /></span>
        </div>
    </section>
{% endblock %}

{% block form %}
    <section class="wrapper style1 special fade-up">
        <div class="container">
        <h3>Write us a message</h3>
        <form method="post" action="/contacts">
            <div class="row uniform 50%">
                <div class="6u 12u$(xsmall)">
                    <input type="text" name="mail[name]" id="name" value="" placeholder="Name" />
                </div>
                <div class="6u$ 12u$(xsmall)">
                    <input type="email" name="mail[email]" id="email" value="" placeholder="Email" />
                </div>
                <div class="12u$">
                    <div class="select-wrapper">
                        <select name="mail[category]" id="category">
                            <option value="">- Category -</option>
                            <option value="products">Our products</option>
                            <option value="shipping">Shipping</option>
                            <option value="administration">Administration</option>
                            <option value="web-site">Web-site</option>
                        </select>
                    </div>
                </div>
                <div class="12u$">
                    <textarea name="mail[message]" id="message" placeholder="Enter your message" rows="6"></textarea>
                </div>
                <div class="12u$">
                    <div class="12u$ 12u$(medium)">
                        <input type="checkbox" id="human" name="mail[human]">
                        <label for="human">I am a human and not a robot</label>
                    </div>
                    <ul class="actions">
                        <li><input type="submit" value="Send Message" class="special" /></li>
                        <li><input type="reset" value="Reset" /></li>
                    </ul>
                </div>
            </div>
        </form>
        </div>
    </section>
{% endblock %}