{% extends 'Index.html' %}

{% block title %} About {% endblock %}

{% block banner %}
    <section id="banner">
        <div class="content">
            <header>
                <h2>About us</h2>
            </header>
            <span class="image"><img src="images/logo.jpg" alt="" /></span>
        </div>
    </section>
{% endblock %}

{% block body %}
    <div id="main" class="wrapper style1">
        <div class="container">
            <header class="major">
                <h2>CLASSIC CITY AND FIXED GEAR BIKE DESIGNERS SINCE 2007</h2>
                <p>Based in the creative heart of London, Foffa are a team of passionate cyclists with over fifty years
                    of combined experience in the cycling and design industries.</p>
                <p>We are dedicated to ensuring our bikes deliver timeless elegance, style and comfort.
                    As a company we have been designing high quality bespoke bikes for over 5 years.
                    The 2016 commuter range is a combination of all the best bits so far.</p>
            </header>
            <section id="content">
                <img class="about" src="images/Foffa_14.jpg" alt="Foffa Bikes" width="1400"  />
            </section>
        </div>
    </div>
{% endblock %}