{% extends 'Index.html' %}

{% block banner %}
    <section id="banner">
        <div class="content">
            <header>
                <h2>Вот такие вот мы, почитай</h2>
                <p> Суки и пидоры<br>
                И сами себя ненавидим</p>
            </header>
            <span class="image"><img src="images/logo.jpg" alt="" /></span>
        </div>
    </section>
{% endblock %}

{% block body %}
    <div id="main" class="wrapper style1">
        <div class="container">
            <header class="major">
                <h2>Мы могли бы служить в разведке, мы могли бы играть в кино</h2>
                <p>Мы как птички садимся на разные ветки, и чето там в метро</p>
            </header>
            <section id="content">
                <img src="images/#" alt="" />
                <p>Списком называется взаимосвязанный набор отдельных фраз или предложений, которые начинаются с маркера или цифры. Списки предоставляют возможность упорядочить и систематизировать разные данные и представить их в наглядном и удобном для пользователя виде.

                    Любой список представляет собой контейнер, который устанавливает маркированный список, или, определяющий список нумерованный. Каждый элемент списка должен начинаться с тега</p>
                <p>«Playtime не похож ни на одну вещь из тех, что уже появлялись в кино. Ни в одном фильме нет такого кадрирования, такой звуковой партитуры, как здесь. Это фильм с другой планеты, где снимают кино по-иному. Может быть, Playtime — это Европа 1968 года, снятая первым марсианским кинорежиссером, «их» Луи Люмьером? В этом случае, он видит то, что мы уже не видим, слышит то, что мы уже не слышим, и снимает иначе, чем мы».

                    Читайте письмо Трюффо Жаку Тати — http://seance.ru/blog/tati-truffaut/

                    На выходных у нас «Новая Москва» и «Время развлечений». Тати и Медведкин. Страшные и веселые фильмы о новом устройстве городов и опосредованно человека. Приходите на показ — вот ссылки на билеты:<br>
                    https://kassa.rambler.ru/spb/movie/13552<br>
                    https://kassa.rambler.ru/spb/movie/8894</p>
            </section>
        </div>
    </div>
{% endblock %}