{% extends 'Index.html' %}

{% block banner %}
<section id="banner">
    <div class="content">
        <header>
            <h2></h2>
            <p> <br>
                </p>
        </header>
        <span class="image"><img src="images/logo.jpg" alt="" /></span>
    </div>
</section>
{% endblock %}

{% block items %}
    {% for item in items %}
        <section id="two" class="spotlight {% if item.style == true %} style2 right {% else %} style3 left {% endif %}">
            <span class="image fit main"><img src="images/items/{{ item.pictureName }}" alt="{{ item.model_name }}" /></span>
            <div class="content">
                <header>
                    <h2>{{ item.model_name }}</h2>
                </header>
                <p>{{ item.description }}</p>
                <ul class="actions">
                    <li><a href="/items/item?id={{ item.getPK() }}" class="button">Узнать больше</a></li>
                </ul>
            </div>
        </section>
    {% endfor %}
{% endblock %}

{% block featuredItem %}
    <section id="one" class="spotlight style1 bottom">
    <span class="image fit main"><img src="images/" alt="" /></span>
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="4u 12u$(medium)">
                    <header>
                        <h2></h2>
                    </header>
                </div>
                <div class="8u 12u$(medium)">
                    <p></p>
                </div>
            </div>
        </div>
    </div>
    </section>
{% endblock %}