{% extends 'Index.html' %}

{% block title %}
  {{ category.category }}
{% endblock %}

{% block banner %}
  <section id="banner">
    <div class="content">
      <header>
        <h2>{{ category.category }}</h2>
      </header>
      <span class="image"><img src="images/logo.jpg" alt="" /></span>
    </div>
  </section>
{% endblock %}

{% block items %}
  {% for item in items %}
    <section id="two" class="spotlight {% if item.style == true %} style2 right {% else %} style3 left {% endif %}">
      <span class="image fit main"><img src="/images/items/bikes/{{ item.pictureName }}" alt="{{ item.model_name }}"></span>
      <div class="content">
        <header>
          <h2>{{ item.model_name }}</h2>
        </header>
        <p></p>
        <ul class="actions">
          <li><a href="/bikes/{{ item.url }}" class="button">Learn more</a></li>
        </ul>
      </div>
    </section>
  {% endfor %}
{% endblock %}