{% extends 'Index.html' %}

{% block banner %}
  <section id="banner">
    <div class="content">
      <header>
        <h2>Article manipulations</h2>
      </header>
      <span class="image"><img src="images/logo.jpg" alt="" /></span>
    </div>
  </section>
{% endblock %}

{% block panel %}
  <div id="main" class="wrapper style1">
    <div class="container">
      <header class="major">
        <h2>Admin functions:</h2>
      </header>
      <section id="content">
        <table>
          {% for article in articles %}
          <tr>
            <th>{{ article.title }}</th>
            <td>
              <a href="/admin/updatearticle?id={{ article.getPK() }}" class="button" target="_blank" style="float: right">Update</a>
              <a href="/admin/deletearticle?id={{ article.getPK() }}" class="button" target="_blank" style="float: right">Delete</a>
              <a href="/news/article?id={{ article.getPK() }}" class="button" target="_blank" style="float: right">Read</a>
            </td>
          </tr>
          {% endfor %}
        </table>
      </section>
    </div>
  </div>
{% endblock %}